@keyframes fadeIn {
  from {background-color: rgba(7, 17, 27, 0)}
  to {background-color: rgba(7, 17, 27, 0.4)}
}

@keyframes fadeOut {
  from {background-color: rgba(7, 17, 27, 0.4)}
  to {background-color: rgba(7, 17, 27, 0)}
}

@keyframes slideUp {
  from {transform: translateY(100%)}
  to {transform: translateY(0)}
}

@keyframes slideDown {
  from {transform: translateY(0)}
  to {transform: translateY(100%)}
}
